<!DOCTYPE html>
<html>
  <head>
    <title>Smoker - An Example Smart App</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://sample-apps.smartplatforms.org/framework/smart/scripts/smart-api-client.js"></script>
  </head>
  <body>
    <h1>Is <span id="name"></span> a Smoker?</h1>

<ul id="med_list"></ul>
     
     <script>
       SMART.ready(function(){
         document.getElementById('name').innerHTML = SMART.record.full_name;
         SMART.get_medications().success(function(meds) {
           var med_names = meds.graph
             .where("?medication rdf:type sp:Medication")
             .where("?medication sp:drugName ?drug_name_code")
             .where("?drug_name_code dcterms:title ?drugname");

           var med_list = document.getElementById('med_list');
           med_names.each(function(i, single_med) {
             med_list.innerHTML += "<li> " + single_med.drugname + "</li>";
           });
         }).error(function(err) { alert ("An error has occurred"); });
       });
     </script>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
